In [14]:
import pandas as pd
import numpy as np
import re

In [15]:
billion=pd.read_csv('./../CSV/RawCSV/BillionairesIndex.csv')
GDP=pd.read_csv('./../CSV/RawCSV/Countries GDP 1960-2020.csv')
ICT=pd.read_csv('./../CSV/RawCSV/ICTSkills_Kaggle.csv', encoding='latin1')

In [16]:
# GDP['Country Name'].unique()
GDP['Country Name'].unique()

array(['Africa Eastern and Southern', 'Africa Western and Central',
       'Australia', 'Austria', 'Burundi', 'Belgium', 'Benin',
       'Burkina Faso', 'Bangladesh', 'Bahamas, The', 'Belize', 'Bermuda',
       'Bolivia', 'Botswana', 'Central African Republic', 'Canada',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Costa Rica', 'Caribbean small states',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific', 'Ecuador',
       'Euro area', 'Spain', 'Finland', 'Fiji', 'France', 'Gabon',
       'England', 'Ghana', 'Greece', 'Guatemala', 'Guyana', 'High income',
       'Hong Kong SAR, China', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'Haiti', 'IBRD only',
       'IDA & IBRD total', 'IDA total', 'IDA blend', 'IDA only', 'India',
       'Ireland', 'Iceland', 'Italy', 'Jamaica', 'Japan', 'Kenya',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Sri Lanka',
       'Lower middle income', 'Low & middle income', 'Lesotho',
       'Late-demographic dividend', 'Luxembourg', 'Morocco', 'Madagascar',
       'Mexico', 'Middle income', 'Malawi', 'Malaysia', 'North America',
       'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'OECD members', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Papua New Guinea', 'Pre-demographic dividend', 'Puerto Rico',
       'Portugal', 'Post-demographic dividend', 'Rwanda', 'South Asia',
       'Sudan', 'Senegal', 'Singapore', 'Sierra Leone',
       'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa',
       'Suriname', 'Sweden', 'Eswatini', 'Seychelles', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Turkey', 'Uganda', 'Upper middle income', 'Uruguay', 'USA',
       'St. Vincent and the Grenadines', 'World', 'South Africa',
       'Zambia', 'Zimbabwe'], dtype=object)

In [17]:
set(billion['Country'].unique())- set(GDP['Country Name'].unique())

{'Argentina',
 'Brazil',
 'Cayman',
 'Cyprus',
 'Denmark',
 'Egypt',
 'Georgia',
 'Germany',
 'HongKong',
 'Indonesia',
 'Israel',
 'Kazakhstan',
 'Korea',
 'Monaco',
 'New Zealand',
 'Russia',
 'Saudi Arabia',
 'South Korea',
 'Switzerland',
 'Taiwan',
 'UAE',
 'Ukraine',
 'Vietnam'}

In [18]:
billion['Total_Net_Worth']=billion['Total_Net_Worth'].apply(lambda x: re.sub(r'\D', '', x))
billion['Total_Net_Worth']=billion['Total_Net_Worth'].astype(int)

In [19]:
len(billion['Country'].unique())

49

In [20]:
billion[['Name', 'Total_Net_Worth', 'Country','Industry']].groupby('Country').agg({'Total_Net_Worth': 'sum', 'Name': lambda x: ', '.join(x),'Industry': lambda x: list(set((', '.join(x)).split(',')))}).sort_values(by='Total_Net_Worth',ascending=False)

,Total_Net_Worth,Name,Industry
Country,,,
USA,84955,"Elon Musk , Jeff Bezos , Bill Gates , Larry Pa...","[ Services, Diversified, Food&Beverage, Med..."
China,39847,"Zhong Shanshan , Ma Huateng , Zhang Yiming , J...","[ Services, Diversified, Food&Beverage, Hea..."
Germany,12249,"Klaus-Michael Kuehne , Dieter Schwarz , Susann...","[Industrial, Diversified, Food&Beverage, Me..."
Russia,12012,"Leonid Mikhelson , Vladimir Potanin , Alexey M...","[Energy, Diversified, Energy, Industrial, ..."
India,9212,"Mukesh Ambani , Gautam Adani , Azim Premji , S...","[Energy, Diversified, Media&Telecom, Indust..."
Canada,8836,"Sherry Brydson , Tobi Lutke , Taylor Thomson ,...","[ Media&Telecom, Energy, Media&Telecom, Tech..."
England,8057,"James Dyson , Jim Ratcliffe , Hugh Grosvenor ,...","[ Diversified, Consumer, Industrial, Enterta..."
France,7311,"Bernard Arnault , Francoise Bettencourt Meyers...","[ Diversified, Food&Beverage, Media&Telecom,..."
Switzerland,6783,"Ernesto Bertarelli&family , Gianluigi Aponte ,...","[ Services, Industrial, Health Care, Techno..."
HongKong,6194,"Zeng Yuqun , Li Ka-shing , Henry Cheng , Lee S...","[Industrial, Media&Telecom, Technology, Ene..."
Australia,4551,"Scott Farquhar , Mike Cannon-Brookes , Gina Ri...","[ Services, Technology, Industrial, Technolo..."
Sweden,3626,"Stefan Persson , Gustaf Douglas&family , Melke...","[ Services, Retail, Diversified, Industrial,..."
Denmark,3538,"Anders Holch Povlsen&family, Niels Louis-Hanse...","[ Consumer, Retail, Health Care]"
Mexico,3371,"Carlos Slim , Sara Mota de Larrea&family, Rica...","[ Commodities, Food&Beverage, Diversified, D..."
Japan,3208,"Tadashi Yanai , Takemitsu Takizaki , Masayoshi...","[Retail, Industrial, Technology, Retail, C..."
Taiwan,2897,"Zhang Congyuan , Samuel Yin , Tsai Eng-Meng , ...","[Industrial, Diversified, Food&Beverage, In..."
Italy,2591,"Giovanni Ferrero&family , Leonardo Del Vecchio...","[Food&Beverage, Commodities, Media&Telecom, ..."
Israel,2286,"Eyal Ofer , Shari Arison , Stef Wertheimer , I...","[ Energy, Services, Diversified]"
Norway,1873,"Olav Thon , Johan Johannson&family , Andreas H...","[Real Estate, Retail, Finance]"
Korea,1782,"Brian Kim , Jay Y. Lee, Seo Jung-Jin","[Technology, Health Care, Diversified]"
South Africa,1726,"Johann Rupert&family , Nicky Oppenheimer , Nat...","[ Food&Beverage, Diversified, Diversified]"
Singapore,1635,"Li Xiting , Forrest Li , Goh Cheng Liang, Gang...","[Health Care, Industrial, Technology, Finance]"
Spain,1618,"Amancio Ortega , Sandra Ortega Mera","[ Retail, Retail]"
Brazil,1477,"Jorge Paulo Lemann, Eduardo Saverin , Jorge Mo...","[Food&Beverage, Food&Beverage, Technology, ..."
Georgia,1294,"Mikheil Lomtadze , Bidzina Ivanishvili","[Finance, Diversified]"
UAE,1205,"M A Yusuff Ali, Majid Al Futtaim","[Food&Beverage, Real Estate]"
Colombia,1026,"Alejandro Santo Domingo&family, Luis Sarmiento","[Food&Beverage, Finance]"
Cyprus,986,John Fredriksen,[Industrial]
New Zealand,981,Graeme Hart,[Finance]
Austria,977,"Dietrich Mateschitz , Johann Graf","[Food&Beverage, Entertainment]"
Malaysia,918,"Robert Kuok , Teh Hong Piow","[Diversified, Finance]"
Saudi Arabia,896,"Alwaleed Bin Talal, Mohammed Al Amoudi","[ Energy, Diversified]"
Vietnam,862,Pham Nhat Vuong,[Real Estate]
Netherlands,751,"Charlene de Carvalho-Heineken, Frits Goldschme...","[Food&Beverage, Retail]"
Philippines,735,Manuel Villar,[Diversified]
Kazakhstan,718,Vyacheslav Kim,[Finance]
Egypt,687,Nassef Sawiris,[Industrial]
Ireland,656,"Pallonji Mistry , Patrick Collison , John Coll...","[ Technology, Industrial, Finance]"
Argentina,643,Marcos Galperin,[Technology]
Cayman,625,Kenneth Dart,[Islands]
South Korea,608,Kim Jung-Ju,[Technology]
Finland,605,Antti Herlin,[Industrial]
Indonesia,365,"Budi Hartono , Michael Hartono","[Diversified, Diversified]"
Thailand,266,"Charoen Sirivadhanabhakdi , Sarath Ratanavadi","[Food&Beverage, Energy]"
Chile,210,Iris Fontbona&family,[Commodities]
Nigeria,192,Aliko Dangote,[Industrial]
Greece,161,Vicky Safra,[Finance]
Ukraine,111,Rinat Akhmetov,[Industrial]
Monaco,103,Stefano Pessina,[Retail]

In [ ]:
billion[['Name', 'Total_Net_Worth', 'Industry']].groupby('Industry').agg({'Total_Net_Worth': 'sum', 'Name': lambda x: ', '.join(x)}).sort_values(by='Total_Net_Worth',ascending=False)

In [23]:
choroplethmap=billion[['Name', 'Total_Net_Worth', 'Country','Industry']].groupby('Country').agg({'Total_Net_Worth': 'sum', 'Name': lambda x: ', '.join(x),'Industry': lambda x: list(set((', '.join(x)).split(',')))}).sort_values(by='Total_Net_Worth',ascending=False)
choroplethmap.to_csv("./../CSV/ProcessedCSV/totalnetworth.csv")

In [ ]:
choroplethmap