In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [9]:
total_data=pd.read_csv("https://raw.githubusercontent.com/Akarshan-Jaiswal/datavisualizationandanalytics.github.io/CW1/Dataset/Complete_Covid/Covid.csv")

C:\Users\akars\AppData\Local\Temp\ipykernel_9312\467888437.py:1: DtypeWarning: Columns (1,33) have mixed types. Specify dtype option on import or set low_memory=False.
  total_data=pd.read_csv("https://raw.githubusercontent.com/Akarshan-Jaiswal/datavisualizationandanalytics.github.io/CW1/Dataset/Complete_Covid/Covid.csv")

In [10]:
total_data.head()
total_data.isnull().sum()
total_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [14]:
total_cases_time_variate=total_data[['date','iso_code', 'location','continent','total_cases','new_cases','new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed','reproduction_rate', 'icu_patients','hosp_patients','total_tests', 'new_tests','new_tests_smoothed','positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters','new_vaccinations', 'new_vaccinations_smoothed','new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'female_smokers', 'male_smokers','handwashing_facilities',
       'life_expectancy', 'human_development_index', 'population']]

In [15]:
total_cases_time_variate.isnull().sum()
total_cases_time_variate.dtypes

date                                           object
iso_code                                       object
location                                       object
continent                                      object
total_cases                                   float64
new_cases                                     float64
new_cases_smoothed                            float64
total_deaths                                  float64
new_deaths                                    float64
new_deaths_smoothed                           float64
reproduction_rate                             float64
icu_patients                                  float64
hosp_patients                                 float64
total_tests                                   float64
new_tests                                     float64
new_tests_smoothed                            float64
positive_rate                                 float64
tests_per_case                                float64
tests_units                                    object
total_vaccinations                            float64
people_vaccinated                             float64
people_fully_vaccinated                       float64
total_boosters                                float64
new_vaccinations                              float64
new_vaccinations_smoothed                     float64
new_people_vaccinated_smoothed                float64
new_people_vaccinated_smoothed_per_hundred    float64
stringency_index                              float64
population_density                            float64
median_age                                    float64
aged_65_older                                 float64
aged_70_older                                 float64
gdp_per_capita                                float64
extreme_poverty                               float64
female_smokers                                float64
male_smokers                                  float64
handwashing_facilities                        float64
life_expectancy                               float64
human_development_index                       float64
population                                    float64
dtype: object

In [16]:
test=total_cases_time_variate.combine_first(total_cases_time_variate.apply(lambda x: \
      pd.to_numeric(x,errors='coerce')).dropna(how='all',axis=1).fillna(0))
test.isnull().sum()

aged_65_older                                      0
aged_70_older                                      0
continent                                       9230
date                                               0
extreme_poverty                                    0
female_smokers                                     0
gdp_per_capita                                     0
handwashing_facilities                             0
hosp_patients                                      0
human_development_index                            0
icu_patients                                       0
iso_code                                           0
life_expectancy                                    0
location                                           0
male_smokers                                       0
median_age                                         0
new_cases                                          0
new_cases_smoothed                                 0
new_deaths                                         0
new_deaths_smoothed                                0
new_people_vaccinated_smoothed                     0
new_people_vaccinated_smoothed_per_hundred         0
new_tests                                          0
new_tests_smoothed                                 0
new_vaccinations                                   0
new_vaccinations_smoothed                          0
people_fully_vaccinated                            0
people_vaccinated                                  0
population                                         0
population_density                                 0
positive_rate                                      0
reproduction_rate                                  0
stringency_index                                   0
tests_per_case                                     0
tests_units                                   118726
total_boosters                                     0
total_cases                                        0
total_deaths                                       0
total_tests                                        0
total_vaccinations                                 0
dtype: int64

In [15]:
test.columns

Index(['aged_65_older', 'aged_70_older', 'continent', 'date',
       'extreme_poverty', 'female_smokers', 'gdp_per_capita',
       'handwashing_facilities', 'hosp_patients', 'human_development_index',
       'icu_patients', 'iso_code', 'life_expectancy', 'location',
       'male_smokers', 'median_age', 'new_cases', 'new_cases_smoothed',
       'new_deaths', 'new_deaths_smoothed', 'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'new_tests',
       'new_tests_smoothed', 'new_vaccinations', 'new_vaccinations_smoothed',
       'people_fully_vaccinated', 'people_vaccinated', 'population',
       'population_density', 'positive_rate', 'reproduction_rate',
       'stringency_index', 'tests_per_case', 'tests_units', 'total_boosters',
       'total_cases', 'total_deaths', 'total_tests', 'total_vaccinations'],
      dtype='object')

In [ ]:
#linechart_data_total_cases=
templ=[]
for i in test['location'].unique():
    df1=test[test['location']==i]
    # df1=df1.fillna(0)    
    df1_temp=pd.DataFrame()
    df1_temp['date']=df1['date']
    df1_temp[i]=list(df1['total_vaccinations'].values)
    df1_temp=df1_temp.reset_index(drop=True)
    templ.append(df1_temp)
    
linechart_data_total_cases=reduce(lambda x,y: pd.merge(x,y, on='date', how='outer'),templ)

In [13]:
def new_country_wise_dataframe(df,variate):
    temp=[]
    for i in df['location'].unique():
        df1=test[df['location']==i]
        df1_temp=pd.DataFrame()
        df1_temp['date']=df1['date']
        df1_temp[i]=list(df1[variate].values)
        df1_temp=df1_temp.reset_index(drop=True)
        temp.append(df1_temp)
    return reduce(lambda x,y: pd.merge(x,y, on='date', how='outer'),temp)

In [17]:
total_vaccinations=new_country_wise_dataframe(test,'total_vaccinations')

In [19]:
total_vaccinations=total_vaccinations.combine_first(total_vaccinations.apply(lambda x: \
      pd.to_numeric(x,errors='coerce')).dropna(how='all',axis=1).fillna(0))
total_vaccinations.isnull().sum()
total_vaccinations

,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,Nepal,Netherlands,New Caledonia,New Zealand,Nicaragua,Niger,Nigeria,Niue,North America,date
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-03
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-04
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-05
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-06
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159,0.0,774321436.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,114994898.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-07
1160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-01
1161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-02
1162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,115001863.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-08
1163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-09

In [20]:
total_vaccinations.to_csv("./../../Dataset/Processed/total_vaccination.csv")

In [21]:
total_boosters=new_country_wise_dataframe(test,'total_boosters')

In [22]:
total_boosters=total_boosters.combine_first(total_boosters.apply(lambda x: \
      pd.to_numeric(x,errors='coerce')).dropna(how='all',axis=1).fillna(0))
total_boosters.isnull().sum()
total_boosters

,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,Nepal,Netherlands,New Caledonia,New Zealand,Nicaragua,Niger,Nigeria,Niue,North America,date
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-03
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-04
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-05
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-06
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159,0.0,76397134.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35834569.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-07
1160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-01
1161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-02
1162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35840722.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-08
1163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-09

In [23]:
total_boosters.to_csv("./../../Dataset/Processed/total_boosters.csv")

In [24]:
stringency_index=new_country_wise_dataframe(test,"stringency_index")

In [25]:
stringency_index=stringency_index.combine_first(stringency_index.apply(lambda x: \
      pd.to_numeric(x,errors='coerce')).dropna(how='all',axis=1).fillna(0))
stringency_index.isnull().sum()
stringency_index

,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,Nepal,Netherlands,New Caledonia,New Zealand,Nicaragua,Niger,Nigeria,Niue,North America,date
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-03
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-04
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-05
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-06
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-07
1160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-01
1161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-02
1162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-08
1163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-09

In [26]:
stringency_index.to_csv("./../../Dataset/Processed/stringency_index.csv")

In [19]:
linechart_data_total_cases.isnull().sum()

date              0
Afghanistan       4
Africa            4
Albania           4
Algeria           4
                 ..
Nicaragua         4
Niger             4
Nigeria           4
Niue              4
North America    64
Length: 164, dtype: int64

In [4]:
full_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")
date_continent_total_cases_year=full_data[['date','continent','total_cases']]
date_continent_total_cases_year= date_continent_total_cases_year[date_continent_total_cases_year['continent'].notna()]
date_continent_total_cases_year=date_continent_total_cases_year.fillna(0)
date_continent_total_cases_year['date']=pd.to_datetime(date_continent_total_cases_year['date'], format="%Y/%m/%d")
date_continent_total_cases_year['year']=date_continent_total_cases_year['date'].dt.strftime('%Y')
date_continent_total_cases_year_2020=date_continent_total_cases_year[date_continent_total_cases_year['year']=='2020']
date_continent_total_cases_year_2021=date_continent_total_cases_year[date_continent_total_cases_year['year']=='2021']
date_continent_total_cases_year_2022=date_continent_total_cases_year[date_continent_total_cases_year['year']=='2022']
date_continent_total_cases_year_2023=date_continent_total_cases_year[date_continent_total_cases_year['year']=='2023']
date_continent_total_cases_year_2020=date_continent_total_cases_year_2020[['continent','total_cases']].groupby('continent').mean()
date_continent_total_cases_year_2021=date_continent_total_cases_year_2021[['continent','total_cases']].groupby('continent').mean()
date_continent_total_cases_year_2022=date_continent_total_cases_year_2022[['continent','total_cases']].groupby('continent').mean()
date_continent_total_cases_year_2023=date_continent_total_cases_year_2023[['continent','total_cases']].groupby('continent').mean()
date_continent_total_cases_final_1=pd.concat([date_continent_total_cases_year_2020.T,date_continent_total_cases_year_2021.T,date_continent_total_cases_year_2022.T,date_continent_total_cases_year_2023.T])
date_continent_total_cases_final_1['year']=['2020','2021','2022','2023']
date_continent_total_cases_final_1=date_continent_total_cases_final_1[["year","Africa","Asia","Europe","North America","South America","Oceania"]]
date_continent_total_cases_final_1.to_csv('./../../Dataset/Processed/date_continent_total_cases.csv')

In [3]:
full_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")
date_continent_total_cases_year=full_data[['date','continent','total_cases_per_million']]
date_continent_total_cases_year= date_continent_total_cases_year[date_continent_total_cases_year['continent'].notna()]
date_continent_total_cases_year=date_continent_total_cases_year.fillna(0)
date_continent_total_cases_year['date']=pd.to_datetime(date_continent_total_cases_year['date'], format="%Y/%m/%d")
date_continent_total_cases_year['year']=date_continent_total_cases_year['date'].dt.strftime('%Y')
date_continent_total_cases_year_2020=date_continent_total_cases_year[date_continent_total_cases_year['year']=='2020']
date_continent_total_cases_year_2021=date_continent_total_cases_year[date_continent_total_cases_year['year']=='2021']
date_continent_total_cases_year_2022=date_continent_total_cases_year[date_continent_total_cases_year['year']=='2022']
date_continent_total_cases_year_2023=date_continent_total_cases_year[date_continent_total_cases_year['year']=='2023']
date_continent_total_cases_year_2020=date_continent_total_cases_year_2020[['continent','total_cases_per_million']].groupby('continent').mean()
date_continent_total_cases_year_2021=date_continent_total_cases_year_2021[['continent','total_cases_per_million']].groupby('continent').mean()
date_continent_total_cases_year_2022=date_continent_total_cases_year_2022[['continent','total_cases_per_million']].groupby('continent').mean()
date_continent_total_cases_year_2023=date_continent_total_cases_year_2023[['continent','total_cases_per_million']].groupby('continent').mean()
date_continent_total_cases_final_1=pd.concat([date_continent_total_cases_year_2020.T,date_continent_total_cases_year_2021.T,date_continent_total_cases_year_2022.T,date_continent_total_cases_year_2023.T])
date_continent_total_cases_final_1['year']=['2020','2021','2022','2023']
date_continent_total_cases_final_1=date_continent_total_cases_final_1[["year","Africa","Asia","Europe","North America","South America","Oceania"]]
date_continent_total_cases_final_1.to_csv('./../../Dataset/Processed/date_continent_total_cases_M.csv')

In [4]:
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")
scatter_data=whole_data.copy()
scatter_data=scatter_data[['location','new_cases','reproduction_rate','gdp_per_capita','population']].groupby('location').mean()
scatter_data=scatter_data.dropna()
high=scatter_data[['gdp_per_capita','reproduction_rate','new_cases','population']].sort_values(by='reproduction_rate',ascending=False).head(25)
low=scatter_data[['gdp_per_capita','reproduction_rate','new_cases','population']].sort_values(by='reproduction_rate',ascending=False).tail(25)
pd.concat([high,low]).to_csv('./../../Dataset/Processed/scatter_plot_data_multi.csv')

In [3]:
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")
scatter_data=whole_data.copy()
scatter_data=scatter_data[['location','new_cases','reproduction_rate','gdp_per_capita','stringency_index','total_cases','population']].groupby('location').mean()
scatter_data=scatter_data.dropna()
#high=scatter_data[['new_cases','reproduction_rate','gdp_per_capita','stringency_index','total_cases','population']].sort_values(by='reproduction_rate',ascending=False).head(25)
#low=scatter_data[['new_cases','reproduction_rate','gdp_per_capita','stringency_index','total_cases','population']].sort_values(by='reproduction_rate',ascending=False).tail(25)
full=scatter_data[['new_cases','reproduction_rate','gdp_per_capita','stringency_index','total_cases','population']].sort_values(by='reproduction_rate',ascending=False)#.tail(25)
full.to_csv('./../../Dataset/Processed/scatter_plot_data_multi_full.csv')

In [5]:
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")
scatter_data=whole_data.copy()
scatter_data=scatter_data[['location','new_cases','reproduction_rate','gdp_per_capita','stringency_index','total_cases','population']].groupby('location').mean()
scatter_data=scatter_data.dropna()
#high=scatter_data[['new_cases','reproduction_rate','gdp_per_capita','stringency_index','total_cases','population']].sort_values(by='reproduction_rate',ascending=False).head(25)
#low=scatter_data[['new_cases','reproduction_rate','gdp_per_capita','stringency_index','total_cases','population']].sort_values(by='reproduction_rate',ascending=False).tail(25)
top100=scatter_data[['new_cases','reproduction_rate','gdp_per_capita','stringency_index','total_cases','population']].sort_values(by='total_cases',ascending=False).head(100)
top100.to_csv('./../../Dataset/Processed/scatter_plot_data_multi_top100.csv')
top100

,new_cases,reproduction_rate,gdp_per_capita,stringency_index,total_cases,population
location,,,,,,
United States,87987.959622,1.080938,54225.446,49.372000,4.667117e+07,3.382899e+08
India,38362.841202,1.035479,6426.674,58.995581,2.574366e+07,1.417173e+09
Brazil,31888.300086,1.090556,14103.452,49.490856,1.917798e+07,2.153135e+08
France,33036.209760,1.089017,38605.671,43.098540,1.373382e+07,6.781300e+07
Germany,32770.710616,1.097541,45229.245,46.976288,1.198581e+07,8.336984e+07
...,...,...,...,...,...,...
Albania,285.390932,1.028571,11803.431,42.598316,1.695397e+05,2.842318e+06
Algeria,232.268606,1.003451,13913.839,52.924298,1.653537e+05,4.490323e+07
Botswana,282.094953,0.794460,15807.374,37.095163,1.624806e+05,2.630300e+06
Uzbekistan,215.081266,1.036248,6253.104,39.581395,1.476922e+05,3.462765e+07
Kosovo,233.876818,1.026783,9795.834,49.345693,1.404999e+05,1.782115e+06