In [15]:
import pandas as pd
import numpy as np

In [16]:
data = pd.read_csv("./../Dataset/Complete_Covid/Covid.csv")
data.head()

C:\Users\akars\AppData\Local\Temp\ipykernel_8048\1615936715.py:1: DtypeWarning: Columns (1,33) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./../Dataset/Complete_Covid/Covid.csv")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [22]:
sub=data[['iso_code','location','total_cases']].groupby(['iso_code','location']).mean()
sub

                                   total_cases
iso_code location
ABW      Aruba                    20143.077491
AFG      Afghanistan             116894.165162
AGO      Angola                   55718.347623
AIA      Anguilla                  1459.866171
ALB      Albania                 168189.820841
...                                        ...
PYF      French Polynesia         38867.259835
SLV      El Salvador             104220.219760
SWZ      Eswatini                 39264.348026
TCD      Chad                      4787.715605
VGB      British Virgin Islands    3182.259294

[163 rows x 1 columns]

In [23]:
sub.to_csv("./../Dataset/Average_Cases/total.csv")